[package]
name = "migration"
version = "0.4.0"
edition = "2024"
publish = false

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
async-trait = "0.1"

[dependencies.sea-orm-migration]
version = "1.1.3"
features = [
    "sqlx-sqlite",
    "sqlx-postgres",
    "runtime-tokio-rustls",
]
