<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Vein{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/terminal.css">
    {% block head_extra %}{% endblock %}
    {% block extra_styles %}<style></style>{% endblock %}
    <script type="module" defer src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <main style="max-width: {% block main_width %}1000px{% endblock %};">
      {% include "_partials/nav.html" %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
